@if (featuredPost) {
  <section class="hero relative min-h-[85vh] lg:min-h-screen">
    @if (featuredPost.mainImage) {
      <img
        class="hero-overlay object-cover brightness-50"
        fill
        priority
        [ngSrc]="featuredPost.mainImage.asset.path!"
        [alt]="featuredPost.mainImage.asset.altText!" />
    }
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md">
        <h1 class="mb-5 text-5xl">{{ featuredPost.title }}</h1>

        <p class="mb-5">{{ featuredPost.excerpt }}</p>

        <div class="flex flex-wrap justify-center gap-4">
          <a class="btn" [routerLink]="'actualites/' + featuredPost.slug">
            En savoir plus
          </a>

          @for (button of featuredPost.featuredButtons; track button.text) {
            <a class="btn" target="_blank" [href]="button.url">
              {{ button.text }}
            </a>
          }
        </div>
      </div>
    </div>
  </section>
}

<section class="hero col-span-full px-4 py-8 lg:p-16">
  <div class="hero-content text-center">
    <div class="max-w-2xl">
      <h2
        class="text-4xl font-bold"
        [ngClass]="{'mb-6': presentationContent?.subtitleRaw?.length}">
        {{ presentationContent?.title }}
      </h2>

      @for (block of presentationContent?.subtitleRaw; track block._key) {
        <p class="text-lg leading-8 text-gray-600">
          {{ block.children[0].text }}
        </p>
      }
    </div>
  </div>
</section>

@for (
  section of presentationContent?.pageBuilder;
  track section._key;
  let isFirst = $first;
  let isEven = $even
) {
  <section class="lg:grid-cols-12">
    <div class="lg:col-span-4" [ngClass]="{'lg:col-end-13': !isEven}">
      <h3 class="mb-4 text-3xl">{{ section.title }}</h3>

      @for (block of section?.bodyRaw; track block._key) {
        <p>{{ block.children[0].text }}</p>
      } @empty {
        <app-skeleton />
      }
    </div>

    <div
      class="stack lg:col-span-6"
      [ngClass]="{
        'mb-5 mr-5 lg:mb-10 lg:mr-10': isEven,
        'ml-5 mt-5 lg:col-end-9 lg:row-start-1 lg:ml-10 lg:mt-10': !isEven
      }">
      @if (section.__typename === 'ImageSection') {
        <img
          [ngSrc]="section.image.asset.path"
          [width]="section.image.asset.metadata.dimensions.width"
          [height]="section.image.asset.metadata.dimensions.height"
          [alt]="section.image.asset.altText"
          [priority]="isFirst" />
      } @else if (section.__typename === 'VideoSection') {
        <youtube-player videoId="SPep4Aj3up8" />
      }

      <div
        class="h-full w-full bg-black"
        [ngClass]="{
          '!translate-y-5 translate-x-5 lg:!translate-y-10 lg:translate-x-10':
            isEven,
          '!-translate-y-5 -translate-x-5 lg:!-translate-y-10 lg:-translate-x-10':
            !isEven
        }"></div>
    </div>
  </section>
}

@if (membershipButton) {
  <a
    class="btn sticky bottom-28 left-full z-50 mb-12 mt-8 lg:btn-lg"
    target="_blank"
    [href]="membershipButton.subtitleRaw[0].children[0].text">
    <app-media slug="helloasso" class="size-8 lg:size-10" />
    Adhérer
  </a>
}
