<section
  class="hero min-h-screen"
  [style.background-image]="
    'url(' + featuredContent?.mainImage?.asset?.url! + ')'
  ">
  <div class="hero-overlay bg-opacity-30"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h2 class="mb-5">{{ featuredContent?.title }}</h2>

      <p class="mb-5">{{ featuredContent?.excerpt }}</p>

      <div class="flex flex-wrap justify-center gap-4">
        <a
          class="btn"
          [routerLink]="'actualites/' + featuredContent?.slug?.current">
          En savoir plus
        </a>

        @for (button of featuredContent?.featuredButtons; track button.text) {
          <a class="btn" href="{{ button.url }}" target="_blank">
            {{ button.text }}
          </a>
        }
      </div>
    </div>
  </div>
</section>

<section class="lg:grid-cols-12">
  <div class="lg:col-span-4">
    <h2 class="mb-4">Le club</h2>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus.
      Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies
      sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a,
      semper congue, euismod non, mi. Proin porttitor, orci nec nonummy
      molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat.
      Duis semper.
    </p>
  </div>

  <div class="lg:col-span-6 stack mr-5 mb-5 lg:mr-10 lg:mb-10">
    <img
      src="assets/images/club-presentation.jpg"
      alt="Photo des adherents de Zona Sul Academy" />

    <div
      class="w-full h-full bg-blackBelt translate-x-5 !translate-y-5 lg:translate-x-10 lg:!translate-y-10"></div>
  </div>
</section>

<section class="lg:grid-cols-12">
  <div class="lg:col-span-4 lg:col-end-13">
    <h2 class="mb-4">Les coachs</h2>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus.
      Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies
      sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a,
      semper congue, euismod non, mi. Proin porttitor, orci nec nonummy
      molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat.
      Duis semper.
    </p>
  </div>

  <div
    class="lg:col-span-6 stack ml-5 mt-5 lg:ml-10 lg:mt-10 lg:col-end-9 lg:row-start-1">
    <img
      src="assets/images/coaches.jpg"
      alt="Photo des coachs de Zona Sul Academy" />

    <div
      class="w-full h-full bg-blackBelt -translate-x-5 !-translate-y-5 lg:-translate-x-10 lg:!-translate-y-10"></div>
  </div>
</section>
