@if (this.posts.length) {
  @for (post of posts; track post.slug.current) {
    <article
      class="card card-compact bg-base-100 lg:col-span-6 lg:col-start-4">
      <figure>
        <img
          [ngSrc]="post.mainImage.asset.path"
          [width]="post.mainImage.asset.metadata.dimensions.width"
          [height]="post.mainImage.asset.metadata.dimensions.height"
          alt="Illustration de post" />
      </figure>
      <div class="card-body border-x border-b">
        <h3 class="card-title justify-between">
          <span>{{ post.title }}</span>

          <span class="text-base font-light">
            {{ post['_createdAt'] | date: 'shortDate' }}
          </span>
        </h3>

        <p>{{ post.excerpt }}</p>

        <div class="card-actions justify-end">
          <button class="btn btn-primary">Lire la suite</button>
        </div>
      </div>
    </article>
  }

  <div class="join col-span-full grid grid-cols-2 lg:col-span-6 lg:col-start-4">
    <a
      class="btn btn-outline join-item"
      routerLink="/actualites"
      [queryParams]="{page: currentPage - 1}"
      [ngClass]="{'btn-disabled': this.currentPage === 1}">
      Page précédente
    </a>

    <a
      class="btn btn-outline join-item"
      routerLink="/actualites"
      [queryParams]="{page: currentPage + 1}"
      [ngClass]="{'btn-disabled': this.posts.length !== 3}">
      Page suivante
    </a>
  </div>
} @else {
  <section
    class="col-span-full grid-cols-2 text-center *:col-span-full lg:col-span-6 lg:col-start-4">
    <h2>Aucun post trouvé</h2>

    <a class="btn" routerLink="/actualites">Retour</a>
  </section>
}
