<header
  class="navbar top-0 z-50 justify-between bg-primary font-gravesend text-primary-content drop-shadow lg:sticky"
>
  <nav class="hidden flex-1 lg:block" aria-label="Navigation principale">
    <ul class="menu menu-horizontal gap-2">
      @for (link of leadingLinks; track link.path) {
        <li>
          <a
            class="btn btn-ghost"
            routerLinkActive="btn-active"
            [routerLink]="link.path"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            {{ link.title }}
          </a>
        </li>
      }
    </ul>
  </nav>

  <a class="mx-auto" [routerLink]="'/'">
    <app-media slug="logo" imageClass="h-14 w-auto flex-none" [altText]="title" [priority]="true" />
  </a>

  <nav class="hidden flex-1 justify-end lg:flex" aria-label="Navigation principale (suite)">
    <ul class="menu menu-horizontal gap-2">
      @for (link of trailingLinks; track link.path) {
        <li>
          <a
            class="btn btn-ghost"
            routerLinkActive="btn-active"
            [routerLink]="link.path"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            {{ link.title }}
          </a>
        </li>
      }
    </ul>
  </nav>
</header>

<main class="mb-auto">
  <router-outlet />
</main>

<nav
  class="dock z-50 bg-neutral font-gravesend text-xs text-neutral-content *:bg-neutral lg:hidden"
  aria-label="Navigation principale"
  [class.dock-hidden]="siteFooterVisible()"
>
  @for (link of navigationLinks; track link.path) {
    <a
      routerLinkActive="dock-active"
      [routerLink]="link.path"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <svg
        class="size-5"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        aria-hidden="true"
      >
        @for (path of link.icon; track path) {
          <path fill-rule="evenodd" clip-rule="evenodd" [attr.d]="path" />
        }
      </svg>

      <span class="dock-label">{{ link.title }}</span>
    </a>
  }
</nav>

<footer #siteFooter class="footer bg-primary p-10 text-primary-content sm:footer-horizontal">
  <aside class="mx-auto place-items-center lg:place-items-start">
    <app-media slug="logo" imageClass="h-14 w-auto" altText="" />

    <p>{{ currentYear }} &copy; {{ title }}</p>

    <p class="max-w-md">
      Association sportive loi 1901 proposant l'enseignement du jiu-jitsu brésilien et du grappling
      sur Orléans
    </p>

    <p class="max-w-md">
      Ce site est une réalisation de
      <a href="https://github.com/antoine-delahaye" target="_blank" rel="noopener">
        Antoine Delahaye
      </a>
    </p>
  </aside>

  <nav>
    <h2 class="footer-title">Plan du site</h2>

    @for (link of navigationLinks; track link.path) {
      <a [routerLink]="link.path">{{ link.title }}</a>
    }

    @for (link of legalLinks; track link.path) {
      <a [routerLink]="link.path">{{ link.title }}</a>
    }
  </nav>

  <nav>
    <h2 class="footer-title">Contact</h2>

    <a href="mailto:contact@zonasulacademy.fr">contact&#64;zonasulacademy.fr</a>

    <a href="tel:+33650009593">06 50 00 95 93</a>
  </nav>

  <nav>
    <h2 class="footer-title">Réseaux</h2>

    <div class="grid grid-flow-col gap-4">
      @for (social of socialLinks; track social.slug) {
        <a target="_blank" rel="noopener" [href]="social.url" [attr.aria-label]="social.label">
          <app-media imageClass="size-8" [slug]="social.slug" [altText]="''" />
        </a>
      }
    </div>
  </nav>
</footer>
