<header
  class="navbar bg-neutral justify-between sticky top-0 z-50 drop-shadow font-gravesend">
  <ul class="hidden lg:inline-flex flex-1 menu menu-horizontal">
    @for (
      route of navigationRoutes.slice(0, navigationRoutes.length / 2);
      track route.title
    ) {
      <li>
        <a
          [routerLink]="route.path"
          [routerLinkActiveOptions]="{exact: true}"
          routerLinkActive="active">
          {{ route.title }}
        </a>
      </li>
    }
  </ul>

  <a routerLink="/">
    <img
      class="h-14 w-auto flex-none"
      src="assets/logo.png"
      alt="Logo de {{ title }}"
      height="512"
      width="512" />
    <h1 class="hidden">{{ title }}</h1>
  </a>

  <ul
    class="hidden lg:inline-flex flex-1 menu menu-horizontal justify-end font-gravesend">
    @for (
      route of navigationRoutes.slice(navigationRoutes.length / 2);
      track route.title
    ) {
      <li>
        <a
          [routerLink]="route.path"
          [routerLinkActiveOptions]="{exact: true}"
          routerLinkActive="active">
          {{ route.title }}
        </a>
      </li>
    }
  </ul>

  <label
    class="btn btn-ghost lg:hidden text-white uppercase"
    for="drawer"
    aria-label="ouvrir la barre latéral">
    {{ route.title | async }}

    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      class="w-5 h-5 stroke-current stroke-2">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="m19.5 8.25-7.5 7.5-7.5-7.5" />
    </svg>
  </label>
</header>

<main class="drawer">
  <input id="drawer" class="drawer-toggle" title="drawer" type="checkbox" />

  <div class="drawer-content">
    <router-outlet />
  </div>

  <div class="drawer-side top-auto">
    <ul class="menu menu-lg w-full h-full bg-white">
      @for (route of navigationRoutes; track route.title) {
        <li>
          <a
            [routerLink]="route.path"
            [routerLinkActiveOptions]="{exact: true}"
            routerLinkActive="active">
            {{ route.title }}
          </a>
        </li>
      }
    </ul>
  </div>
</main>

<footer class="footer p-10 bg-neutral text-white">
  <aside class="place-items-center lg:place-items-start mx-auto">
    <img
      class="h-14 w-auto"
      src="assets/logo.png"
      alt="Logo de {{ title }}"
      height="512"
      width="512" />
    <p>{{ currentDate.getFullYear() }} &copy; {{ title }}</p>
    <p class="max-w-md">
      Association sportive loi 1901 proposant l'enseignement du jiu-jitsu
      brésilien et du grappling sur Orléans
    </p>
  </aside>

  <nav>
    <h6 class="footer-title">Plan du site</h6>

    @for (route of navigationRoutes; track route.title) {
      <a [routerLink]="route.path">
        {{ route.title }}
      </a>
    }
  </nav>

  <nav>
    <h6 class="footer-title">Réseaux</h6>

    @for (social of socialMedias; track social.title) {
      <a href="{{ social.url }}" target="_blank">
        {{ social.title }}
      </a>
    }
  </nav>

  <nav>
    <h6 class="footer-title">Légal</h6>

    @for (route of legalRoutes; track route.title) {
      <a [routerLink]="route.path">
        {{ route.title }}
      </a>
    }
  </nav>
</footer>
