<header
  class="navbar sticky top-0 z-50 justify-between bg-neutral font-gravesend drop-shadow">
  <ul class="menu menu-horizontal hidden flex-1 lg:inline-flex">
    @for (
      route of navigationRoutes.slice(0, navigationRoutes.length / 2);
      track route.title
    ) {
      <li>
        <a
          [routerLink]="route.path"
          [routerLinkActiveOptions]="{exact: true}"
          routerLinkActive="active">
          {{ route.title }}
        </a>
      </li>
    }
  </ul>

  <a routerLink="/">
    <app-media slug="logo" class="h-14 w-auto flex-none" />
    <h1 class="hidden">{{ title }}</h1>
  </a>

  <ul
    class="menu menu-horizontal hidden flex-1 justify-end font-gravesend lg:inline-flex">
    @for (
      route of navigationRoutes.slice(navigationRoutes.length / 2);
      track route.title
    ) {
      <li>
        <a
          [routerLink]="route.path"
          [routerLinkActiveOptions]="{exact: true}"
          routerLinkActive="active">
          {{ route.title }}
        </a>
      </li>
    }
  </ul>

  <label
    class="btn btn-ghost uppercase text-white lg:hidden"
    for="drawer"
    aria-label="ouvrir la barre latéral">
    {{ route.title | async }}

    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      class="h-5 w-5 stroke-current stroke-2">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="m19.5 8.25-7.5 7.5-7.5-7.5" />
    </svg>
  </label>
</header>

<main class="drawer mb-auto">
  <input id="drawer" class="drawer-toggle" title="drawer" type="checkbox" />

  <div class="drawer-content">
    <router-outlet />

    @if (membershipLink) {
      <a
        class="btn sticky bottom-8 left-full z-50 mb-8 lg:btn-lg"
        target="_blank"
        [href]="membershipLink.bodyRaw[0].children[0].text">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-auto w-8 lg:w-10"
          viewBox="0 0 141.9 141.76">
          <defs>
            <linearGradient
              id="a"
              x1="15.65"
              x2="80.75"
              y1="39.79"
              y2="151.51"
              gradientTransform="rotate(.23 1023.6592938 -96.71746512)"
              gradientUnits="userSpaceOnUse">
              <stop offset="0" stop-color="#3b8964" />
              <stop offset=".25" stop-color="#5abf8c" />
            </linearGradient>
            <linearGradient
              id="b"
              x1="67.36"
              x2="133.9"
              y1="138.56"
              y2="29.69"
              gradientTransform="rotate(.23 1023.6592938 -96.71746512)"
              gradientUnits="userSpaceOnUse">
              <stop offset="0" stop-color="#803471" />
              <stop offset=".21" stop-color="#b34f9e" />
            </linearGradient>
            <linearGradient
              id="c"
              x1="11.33"
              x2="124.87"
              y1="33.01"
              y2="73.83"
              gradientTransform="rotate(.23 1023.6592938 -96.71746512)"
              gradientUnits="userSpaceOnUse">
              <stop offset=".6" stop-color="#f99c2e" />
              <stop offset="1" stop-color="#c57538" />
            </linearGradient>
          </defs>
          <path
            fill="url(#a)"
            d="M42.61 113.83c-21.88-24.82-7.28-87.55 2-87.55C26.69 25.92-3.56 37.69.51 79.65a71.1 71.1 0 0 0 113.71 47.49c-34.3 24.52-57.54 2.65-71.61-13.31Z" />
          <path
            fill="url(#b)"
            d="M122.71 71.67c-18.14 36.28-73.77 51.56-80.1 42.16 10.87 15.78 37.84 37.88 71.83 13.15A70.92 70.92 0 0 0 97.73 5.26c38.42 17.06 34.53 47.31 24.98 66.41Z" />
          <path
            fill="url(#c)"
            d="M44.61 26.28c39.24-4.21 83.74 36 78.1 45.39 11-18.74 13.58-49.35-24.82-66.42A71.14 71.14 0 0 0 .65 80.66c-2.78-41.74 29.29-52.81 43.96-54.38Z" />
        </svg>
        Adhérer
      </a>
    }
  </div>

  <div class="drawer-side top-auto">
    <ul class="menu menu-lg h-full w-full bg-white">
      @for (route of navigationRoutes; track route.title) {
        <li>
          <a
            [routerLink]="route.path"
            [routerLinkActiveOptions]="{exact: true}"
            routerLinkActive="active">
            {{ route.title }}
          </a>
        </li>
      }
    </ul>
  </div>
</main>

<footer class="footer bg-neutral p-10 text-white">
  <aside class="mx-auto place-items-center lg:place-items-start">
    <app-media slug="logo" class="h-14 w-auto" />
    <p>{{ currentDate.getFullYear() }} &copy; {{ title }}</p>
    <p class="max-w-md">
      Association sportive loi 1901 proposant l'enseignement du jiu-jitsu
      brésilien et du grappling sur Orléans
    </p>
  </aside>

  <nav>
    <h6 class="footer-title">Plan du site</h6>

    @for (route of navigationRoutes; track route.title) {
      <a [routerLink]="route.path">
        {{ route.title }}
      </a>
    }
  </nav>

  <nav>
    <h6 class="footer-title">Réseaux</h6>

    @for (social of socialMedias; track social.title) {
      <a href="{{ social.url }}" target="_blank">
        {{ social.title }}
      </a>
    }
  </nav>

  <nav>
    <h6 class="footer-title">Légal</h6>

    @for (route of legalRoutes; track route.title) {
      <a [routerLink]="route.path">
        {{ route.title }}
      </a>
    }
  </nav>
</footer>
