@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "gravesend-sans";
    src: url("assets/fonts/GravesendSansThin.ttf");
    font-display: auto;
    font-style: normal;
    font-weight: 100;
    font-stretch: normal;
}

@font-face {
    font-family: "gravesend-sans";
    src: url("assets/fonts/GravesendSansLight.ttf");
    font-display: auto;
    font-style: normal;
    font-weight: 300;
    font-stretch: normal;
}

@font-face {
    font-family: "gravesend-sans";
    src: url("assets/fonts/GravesendSansMedium.ttf");
    font-display: auto;
    font-style: normal;
    font-weight: 500;
    font-stretch: normal;
}

@font-face {
    font-family: "gravesend-sans";
    src: url("assets/fonts/GravesendSansBold.ttf");
    font-display: auto;
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
}

@font-face {
    font-family: "basic-sans";
    src: url("assets/fonts/BasicSansThin.ttf");
    font-display: auto;
    font-style: normal;
    font-weight: 100;
    font-stretch: normal;
}

@font-face {
    font-family: "basic-sans";
    src: url("assets/fonts/BasicSansExtraLight.ttf");
    font-display: auto;
    font-style: normal;
    font-weight: 200;
    font-stretch: normal;
}

@font-face {
    font-family: "basic-sans";
    src: url("assets/fonts/BasicSansLight.ttf");
    font-display: auto;
    font-style: normal;
    font-weight: 300;
    font-stretch: normal;
}

@font-face {
    font-family: "basic-sans";
    src: url("assets/fonts/BasicSansNormal.ttf");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}

@font-face {
    font-family: "basic-sans";
    src: url("assets/fonts/BasicSansSemiBold.ttf");
    font-display: auto;
    font-style: normal;
    font-weight: 600;
    font-stretch: normal;
}

@font-face {
    font-family: "basic-sans";
    src: url("assets/fonts/BasicSansBold.ttf");
    font-display: auto;
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
}

@font-face {
    font-family: "basic-sans";
    src: url("assets/fonts/BasicSansBlack.ttf");
    font-display: auto;
    font-style: normal;
    font-weight: 900;
    font-stretch: normal;
}

h1, h2, h3 {
    @apply font-bold;
}

main {
    a:not(.btn):not(.planning-event) {
        @apply hover:underline decoration-white;
    }

    section:not(.hero), app-news-index, app-news-single, app-prices {
        @apply grid gap-8 px-4 py-8 lg:p-16;
    }

    app-news-index, app-news-single, app-prices {
        @apply lg:grid-cols-12;
    }

    youtube-player-placeholder, youtube-player iframe {
        @apply !w-full;
    }
}
